body {
    padding-top: 80px;
}
h2, h5 {
    font-family: 'Manrope', sans-serif;
    text-align: center;
}
h2 {
    margin-bottom: 25px;
}
h5 {
    font-size: medium;
}
p{
    text-align: justify;
}

.section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
    background: linear-gradient(to bottom, antiquewhite, #f8c66a);
}
.article-layout {
    width: 60%;
    padding: 30px;
    border-radius: 30px;
    margin-bottom: 10px;
    opacity: 0;
}
.projects {
    padding: 30px 0 100px 0;
    background: url('./assets/fond.jpg') no-repeat center center fixed;
    background-size: cover;
    &-layout {
        width: 80%;
        margin: 0 auto; /* Centre le conteneur horizontalement */
      }
}
.custom-image {
    width: 100%; 
    height: 70%; 
    object-fit: cover;
}
.custom-card {
    box-shadow: 5px 10px 20px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    height: 220px;
    overflow: hidden;

    background: linear-gradient(to bottom, #FFFACD, white);
    &:hover {
        transform: scale(1.1);
        transition: transform 0.3s;
    }
}


.container {
    margin-top: 25px;
}
.main-timeline {
    position: relative;
    &:before {
        content: "";
        width: 2px;
        height: 100%;
        background: black;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    & .timeline {
        position: relative;
        &:after {
            content: "";
            display: block;
            clear: both
        }
    }
    & .icon {
        width: 18px;
        height: 18px;
        line-height: 18px;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid #232323;
            background-color: #232323;
        }        
    }
    & .item-content {
        width: 50%;
        float: left;
        margin-top: 22px;
        position: relative
    }
    & .item-layout {
        font-size: 16px;
        text-align: center;
        margin: auto;
        width: 100px;
        height: 100px;
        margin: 0 auto;
        border-radius: 50%;
        top: 0;
        left: 0;
        right: 0;
        left: -6px
    }
}
.i-custom {
    font-size: 60px;
}


.main-timeline .timeline-content {
    width: 50%;
    padding: 20px 0 0 50px;
    float: right
}

.main-timeline .title {
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 15px 0
}

.main-timeline .description {
    margin-bottom: 0
}

.main-timeline .timeline:nth-child(2n) .item-content {
    float: right
}

.main-timeline .timeline:nth-child(2n) .item-content:before {
    left: 10px
}

.main-timeline .timeline:nth-child(2n) .timeline-content {
    padding: 20px 50px 20px 0;
    text-align: right
}

.fa-globe  {
    color: #d63384;
}
.fa-graduation-cap {
    color: darkorange;
}
.fa-briefcase {
    color: green; 
}
.fa-book {
    color: saddlebrown;;
}
.fa-school {
    color : darkslateblue;;
}

.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, #f8c66a, antiquewhite);
    padding-top: 30px;
    padding-bottom: 40px;
    & .contact-layout{
        display: grid;
        & a {
        color: black;
        text-decoration: none;
        }
    }
    & .logo-linkedin {
        width: 140px;
        margin-left: -30px;
    }
    & .logo-mail {
        width: 80px;
        margin-right: 35px;
    }
}
.logos {
    text-align: center;
        & .logo-html-css { 
            width: 140px;
        }
        & .logo-js {
            width: 150px;
        }
        & .logo-sass {
            width: 75px;
        }
}
