@media only screen and (max-width: 991px) {
    h1 {
        font-size: 25px;
    }
    header {
        & li {
            margin-right: 5px;
            margin-left: 0px;
            display: inline-block;
        }
    }
    .main-timeline {
        & .item-content {
            margin-top: 35px;
            &:before {
                width: 22.5%;
            }
        }
        & .description {
        
            text-align: center;
        }
        & .timeline-content {
            padding: 10px 0 10px 30px;
        }
        & .title {
            font-size: 17px;
        }
    }
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding: 10px 30px 10px 0
    }
    .logos {
        & .logo-html-css { 
            width: 100px;
        }
        & .logo-js {
            width: 100px;
        }
        & .logo-sass {
            width:45px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .main-timeline {
        &:before {
            margin: 0;
            left: 7px;
        }
        & .timeline {
            margin-bottom: 20px;
        }
        & .icon {
            margin: auto 0;
        }
        & .item-content {
            width: 95%;
            float: right;
            margin-top: 0;
            &:before {
                display: none;
            }
        }
        & .item-layout {
            width: 110px;
            height: 110px
        }
        & .title {
            margin-bottom: 10px;
            margin-left: 20px;
        }
        & .description {
            margin-bottom: 0;
            margin-left: 20px;
            text-align: center;
        }
    }
    
    .main-timeline .timeline:last-child {
        margin-bottom: 0
    }
    .main-timeline .item-layout:before,
    .main-timeline .item-layout:after {
        width: 110px;
        height: 110px
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        width: 95%;
        text-align: center;
        padding: 10px 0
    }

    form {
        width: 80%;
    }
    
}





